body{
    font-family: 'Noto Sans', sans-serif;
    margin: auto;
    padding: 5px;
    background: #f3f5fc;
}
h1{
    font-size: 2em;
    font-weight: bold;
}
.logo{
    width: 100%;
    float: left;
    margin: 2em;
}
.logoImg{
    margin-top: 1%;
    float: inherit;
    margin-left: 15%;
}
.titulo{
    float: left;
    margin-left: 15%;
}
.panelIzq{
    float: left;
    width: 70%;
    height: 50%;
    border-radius: 24px;
}
.panelDer{
    float: right;
    width: 30%;
    height: auto;
    text-align: center;
    border-radius: 24px;
    background: #fff;
}
P{
    margin: 1em 0 1em 2em;
}
.botones{
    float: left;
    width: 70%;
    height: 20%;
    border-radius: 24px;
}
.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 60%;
    font-size: 20px;
    border: none;
    outline: none;
    background: #f3f5fc;
    color: #0A3871;
}
#imgDer{
    margin-left: 2%;
    margin-top: 20%;
    width: 90%;
    height: auto;
}
#textStatus{
    margin-left: 7%;
    margin-top: 5%;
}
#textResultado{
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    color: #0A3871;
    width: 80%;
    height: auto;
    background: #fff;
    border: none;
    outline: none;
    font-size: 15px;
}
.btnEncriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 15%;
    background: #0a3871;
}
.btnDesencriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 15%;
    background: #d8dfe8;
}
#copiar{
    margin-left: 33%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #d8dfe8;
    border-radius: 24px;
    display: none;
}
/*Haciendo la pagina Responsive*/
@media screen and (min-width:1200px) {
    h1{
        display: block;
    }
}
@media screen and (max-width:480px) {
    header{
        display: block;
        width: 100%;
    }
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        float: none;
        margin: 0;
    }
    .logo img{
        margin-bottom: 24px;
        margin-left: 0;
        float: none;
    }
    .titulo{
        float: none;
        margin-left: 0;
        text-align: center;
    }
    main{
        align-items: center;
    }
    .panelIzq{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .panelIzq textarea{
        margin-left: 0;
        float: none;
        width: 95%;
    }
    .panelDer{
        width: 100%;
        text-align: center;
    }
    .panelDer textarea{
        text-align: center;
    }
    .botones{
        width: 100%;
        float: none;
        height: auto;
        text-align: center;
    }
    .botones button{
        height: auto;
        margin-left: 0;
        padding: 15px;
    }
}